*/bin
*.stackdump
*/.classpath
*/org.eclipse.jdt.core.prefs
*/appcompat/R*
*/BuildConfig*


/SanityCheck/HelloWorldWebService/nbproject/private/
/SanityCheck/HelloWorldWebService/build/
/SanityCheck/HelloWorldWebService/dist/